*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    background-color: rgb(21, 21, 21);
    width: 100%;
    color: whitesmoke;
    text-align: center;
    padding: 50px;
}

h2{
    text-align: center;
    background-color: rgb(21, 21, 21);
    color: whitesmoke;
    padding: 15px;
    margin: 20px auto;
    width: 120px;
    border-radius: 15px;
}
.praia{
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    margin: 0 auto;
    width: 800px;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}


.gallery{
    padding: 30px;
}

img{
    box-shadow: 5px 5px 8px black;
}

footer{
    background-color: rgb(21, 21, 21);
    color: whitesmoke;
    padding: 15px;
    text-align: center;
}

